html,body{
    margin: 0;
    background: linear-gradient(to bottom right, #E216DD, #35B9EF, #6022D9);
    height: 100%;
}

#container{
    
    height: 720px;
    display: flex;
    align-items: center;
}

#loginBox{
    background-color: white;
    width: 1000px;
    height: 600px;
    border-radius: 5px;
    margin: 100px auto 40px;
    display: flex;
    flex-direction: row;
}

#sectionPromo{
    height: 600px;
    width: 600px;
    background-image: url("./2A52C133-CEC7-4152-B964-1EB0F67BAD9A.PNG")
}

#sectionForm{
    height: 600px;
    font-family: 'Nunito', sans-serif;
    width: 400px;
}

#sectionForm h1{
    text-align: center;
}

.input{
    display: block;
    border: none;
    border-bottom: 1px solid purple;
    width: 300px;
    outline: none;
    margin: auto;
}

label{
    margin-left: 50px;
}

#loginbtn{
    display: block;
    margin-top: 30px;
    width: 250px;
    background: linear-gradient(to bottom right, #E216DD, #6022D9);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 30px auto;
}

#banner{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 50px;
}

#banner h1{
    margin: 0;
}

.homePage{
    background-image: url("./C41E3BFA-875E-424A-BCFA-32FE6AC13953.PNG");
    background-size: cover;
    background-repeat: no-repeat
}

#signUpDiv{
    height: 580px;
    width: 380px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

#wrapperHome{
    display: flex;
    height: 100%;
}

#signUp{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.newUserInput{
    display: block;
    height: 40px;
    width: 300px;
    margin: 20px auto;
}

#submitNewUSer{
    display: block;
    margin-top: 30px;
    width: 250px;
    background: linear-gradient(to bottom right, #E216DD, #6022D9);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 30px auto;
}

#smoBanner{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.smoImg{
    height: 50px;
    margin-right: 5px;
}

#cloudLogo{
    height: 180px;
    display: block;
    margin: auto;
}

#notLoggedIn{
    display: none;
}


