html,body{
    margin: 0;
    background-image: url("./3\ 2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#container{
    
    height: 100%;
    display: flex;

}

#loginBox{
    background-color: white;
    width: 1000px;
    height: 600px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#sectionPromo{
    height: 600px;
    width: 600px;
    background-image: url("./2A52C133-CEC7-4152-B964-1EB0F67BAD9A.PNG")
}

#sectionForm{
    height: 600px;
    font-family: 'Nunito', sans-serif;
    width: 400px;
}

#sectionForm h1{
    text-align: center;
}

.input{
    display: block;
    border: none;
    border-bottom: 1px solid purple;
    width: 300px;
    outline: none;
    margin: auto;
}

label{
    margin-left: 50px;
}

#loginbtn{
    display: block;
    margin-top: 30px;
    width: 250px;
    background: linear-gradient(to bottom right, #E216DD, #6022D9);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 30px auto;
}

#banner{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 50px;
}

#banner h1{
    margin: 0;
}

.homePage{
    background-image: url("./2\ 3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper{
    display: none;
}

#signUpDiv{
    height: 580px;
    width: 380px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

#wrapperHome{
    display: flex;
    height: 100%;
}

#signUp{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.newUserInput{
    display: block;
    height: 40px;
    width: 300px;
    margin: 20px auto;
}

#submitNewUSer{
    display: block;
    margin-top: 30px;
    width: 250px;
    background: linear-gradient(to bottom right, #E216DD, #6022D9);
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 30px auto;
}

#smoBanner{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.smoImg{
    height: 50px;
    margin-right: 5px;
}

#cloudLogo{
    height: 180px;
    display: block;
    margin: auto;
}

#notLoggedIn{
    display: flex;
    height: 100%;
}

#message{
    border-radius: 5px;
    background-color: white;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: auto;
}

#message img{
    height: 150px;
    display: block;
    margin: auto;
}

.loginPara{
    font-family: 'Nunito', sans-serif;
}

.smoIndex{
    margin-top: 60px;
}

#createAccount{
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}

#signUpDiv span{
    font-family: 'Nunito', sans-serif;
    display: block;
    text-align: center;
}

#userPara{
    font-size: 30px;
}

#log_out{
    border-radius: 50%;
    font-family: 'Nunito', sans-serif;
    height: 70px;
    width: 70px;
    text-align: center;
    display: block;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: purple;
    color: white;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%
    {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0)
    }
    40%{

        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0)
    }
    80%
    {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0)
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0)
    }
}